.form {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 220px);
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px;
}

.field {
    line-height: 32px;
    width: 100%;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    font-size: 24px;
    margin: 8px 0;
}

.error {
    color: rgb(180, 61, 61);
    font-size: 24px;
    margin: 0;
}

.button {
    margin: 0px;
    width: 30%;
    height: 40px;
    border-radius: 32px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    line-height: 32px;
    background-color: rgb(250, 228, 105);
    font-weight: 600;
    border: none;
    color: black;
    transition: all 0.5s ease;
}

.disabled {
    cursor: auto;
}

.button:hover:not([disabled]) {
    font-size: 24px;
    box-shadow: 4px 4px 2px rgb(189, 165, 33);
}