.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
}

.form div {
    display: flex;
    gap: 3px;
    flex-direction: column;
    font-size: 16px;
}

.form input,
textarea {
    border: 1px solid;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 30px;
    margin-bottom: 5px;
}

.text textarea {
    height: 50px;
    max-height: 150px;
    min-height: 30px;
    overflow: hidden;
}

.form button {
    padding: 10px 14px;
    font-weight: 600;
    width: 130px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: rgb(250, 228, 105);
    color: rgb(68, 42, 18);
    border-radius: 55px;
    border-style: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.form button:hover {
    background-color: rgba(263, 195, 0, 0.8);
    box-shadow: 0px 0px 3px;
}