.cart {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 300px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 20px;
    font-size: 12px;
}

.cart__head {
    font-size: 16px;
    font-weight: 700;
}

.cart__head_two {
    font-size: 14px;
    font-weight: 500;
}

.cart__head_third {
    font-size: 18px;
    font-weight: 700;
}

.cart__content {
    font-size: 12px;
    font-weight: 400;
    color: gray;
}

.cart__price {
    font-size: 14px;
    font-weight: 700;
}

.cart__total_price {
    font-size: 18px;
    font-weight: 700;
}

.cart__discount {
    font-size: 14px;
    font-weight: 700;
    color: #F44336;
}

.container {
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    margin-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 20px;
    gap: 20px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 18px;
}

.products {
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 450px;
    gap: 20px;
}

hr {
    width: 100%;
}