.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    list-style: none;
    background-color: rgb(250, 228, 105);
    gap: 30px;
    padding: 15px 20%;
    margin: 0;
    height: 70px;
    min-width: 100vw;
}

.header li:nth-child(3) {
    margin-left: auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box__cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    position: relative;
    margin: 0;
    top: -10px;
    left: -7px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(244, 75, 75);
}

.search {
    line-height: 28px;
    padding: 4px;
    border-radius: 32px;
    font-size: 18px;
    border: none;
    width: 50%;
    min-width: 300px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 100px;
}

.link {
    text-decoration: none;
    transition: all 0.5s ease;
    color: black;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
}

.link__logo {
    height: 30px;
    width: 30px;
    transition: all 0.5s ease;

}

.link:hover {
    color: white;
    font-size: 20px;
}

.text {
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
}

@media screen and (max-width: 1280px) {
    .header  {
        padding: 15px 15%;
    }
}