.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    list-style: none;
    background-color: rgb(250, 228, 105);
    gap: 20px;
    padding: 15px 40px;
    margin: 0;
    height: 70px;
}

.header li:nth-child(2) {
    margin-left: auto;
}

.link {
    text-decoration: none;
    transition: all 0.5s ease;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.link:hover {
    color: rgb(65, 24, 187);
    font-size: 20px;
}