.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    height: 200px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: 'Montserrat', sans-serif;
}

.checkbox {
    display: flex;
    align-items: center;
    height: 100%;
}

.checkbox input {
    height: 20px;
    width: 20px;
}

.discount {
    max-width: 58px;
    text-align: center;
    padding: 2px 0px;
    background-color: var(--sale-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #F44336;
    border-radius: 20px;
}

.description {
    width: 100%;
    text-align: left;
    margin-bottom: auto;
}

.description p {
    margin: 10px 0 10px 0;
    height: 50px;
}

.normal__price {
    margin: 0;
    height: 28px;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 18px;
}

.notfound {
    display: flex;
    justify-content: center;
    width: 100vh;
    height: calc(100vh - 260px);
    margin: 20px auto;
    font-weight: 600;
    font-size: 32px;
}

.picture img {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 100%;
    width: auto;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    height: 100%;
    margin-bottom: 5px;
}

.tags {
    display: flex;
    gap: 10px;
    position: absolute;
    align-items: center;
    width: 90%;
    height: 20px;
    top: 8px;
    left: 8px;
}

.tags span {
    padding: 0px 10px 0px 10px;
    background-color: #2a1b6b;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    line-height: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 50px;
    margin-right: 10px;
}

.button img {
    width: 28px;
}

.old__price {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-decoration: line-through;
    display: block;
    height: 14px;
    margin: 0;
}

.price {
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    display: block;
    height: 14px;
    margin: 0;
}