.products {
    max-width: 1500px;
    justify-content: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.btn__box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1500px;
}

.btn {
    padding: 10px 14px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: rgb(250, 228, 105);
    color: rgb(68, 42, 18);
    border-radius: 55px;
    border-style: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    background-color: rgba(263, 195, 0, 0.8);
    box-shadow: 0px 0px 3px;
}

@media screen and (max-width: 1280px) {
    .products {
        margin-left: 15%;
        margin-right: 15%;
    }

    .btn__box {

        margin-left: 15%;
        margin-right: 15%;
    }
}