.products {
    max-width: 1000px;
    justify-content: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}